/* ANIMATIONS
============================================================================= */


/* entering animations --------------------------------------- */


/* scale up */

@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}


@keyframes fade {
  from { opacity:0; }
  to { opacity:1; }
}

.ng-enter {
    animation: fade 0.5s both ease-in;
    z-index: 8888;
}

.active {
    background-color: #BCC3DE;
}

.center {
    position: fixed;
    top: 85%;
    right: 0px;
    width: 115px;
    height: 0px;
    text-align: right;
    z-index: 9999;
    /*margin-top: -15px;*/
}

.center a {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: block;
    background: rgb(231, 231, 231);
    text-align: center;
    height: 40px;
    width: 165px;
    padding: 8px 16px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #fff;
}

.center a:hover {
    background: #CCC;
}

img.home {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    background-repeat: no-repeat;
}

body.home {
    height: 100%;
    background: url(../../content/bw-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.contact {
    height: 100%;
    background: url(../../content/sky-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.largeFont {
    top: 40%;
    right: 65%;
    font-size: 35px;
    height: auto;
    width: auto;
    color: black;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}

.mainPageHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    height: auto;
    width: auto;
    color: #CE1919;
    /*background: #f5f5f5;*/
    background: rgba(245,245,245,0.8);
}
.mainPageHeaderSmall {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    height: auto;
    width: auto;
    color: #CE1919;
    background: rgba(245,245,245,.9);
}
.title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    height: auto;
    width: auto;
}
img.face {
    display: block;
    margin: 0 auto;
}
p.solid {
    border-style: solid;
    background: rgba(245,245,245,.9);
    margin-right: 20px;
    margin-left: 20px;
}